<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link href="/static/styles.css" rel="stylesheet">
</head>
<body>
    <h1>Enter new post</h1>
    <form action="/success" method="post">  
        <input type="text" name="name" placeholder="Name">
        <input type="text" name="time" placeholder="time">
        <input type="text" name="post" placeholder="post">
        <input type="Submit" value="Submit">
    </form>

    <h1>Posts Table</h1>
    <table>
        <tr>
          <th>Name</th>
          <th>Time</th>
          <th>Post</th>

        </tr>
        {% for post in posts %}
            <tr>
                <td>{{post["name"]}}</td>
                <td>{{post["time"]}}</td>
                <td>{{post["post"]}}</td>
                <td><a href="{{ '/edit/%s' %post.rowid }}">Edit</a> |
                    <a href="{{ '/delete-post/%s' %post.rowid }}">Delete</a>
            </tr>
        {% endfor %}
      </table>  
</body>
</html>